<div class="row col-md-12 comment">
  <div class='comment-text col-md-9'>
   <p><%= comment.text %></p>
  </div>
  <div class='edit-comment col-md-3'>
    <p><a href='/comments/<%= comment.id %>/edit'>Edit this comment</a></p>
  </div>
</div>

