<audio src="/birthday.wav" autoplay = true preload="auto" controls></audio>

<script src='https://code.responsivevoice.org/responsivevoice.js'
responsiveVoice.speak("Happy Birthday")></script>

<h1>Hello Professor Falken</h1>

