<%= erb :'question/_show', :locals => { :question => @question } %>


<ul class="comment_list">
  <p>Hi from comment list</p>
  <% @question.comments.each do |comment| %>
    <%= erb :'comment/_show', :locals => { :comment => @comment } %>
  <% end %>
<ul>

