<%= erb :'question/_show', :locals => { :question => @question } %>
<div class="comment_list for_question">
  <ul>
    <% @question.comments.each do |comment| %>
      <div class='individual-comments row col-md-12'><%= erb :'comment/_show', :locals => { :comment => comment } %></div>
    <% end %>
  <ul>
</div>

<div class='answer_list'>
  <div class='answer-header row col-md-12'>
    <h3 id='answer-header-title'><%= @question.answers.count %> Answers</h3>
  </div>
  <ul>
  <% @question.answers.each do |answer| %>
    <li><%= erb :'answer/_show', :locals => { :answer => answer } %></li>
  <% end %>
  <ul>
</div>


