<div class = "answer">
  <p><%= answer.text %></p>
  <p><a href='/answers/<%= answer.id %>/edit'>Edit this answer</a></p>
  <p><a href='/comments/new/answer/<%= answer.id %>'>Comment on this answer</a></p>
</div>

<!-- <ul class="comment_list">
  <% answer.comments.each do |comment| %> (Not sure about this syntax)
    <%= erb :'comment/_show', :locals => { :comment => @comment } %>
  <% end %>
<ul> -->
