<h1>Update your answer</h1>

<form method="post" action="/answers">
<input type="hidden" name="_method" value="put">
  <label for="answer_text_input">
  <input id="answer_text_input" name="answer[text]" type="text" placeholder="Answer">
  <br>
  <input type="submit" value="Update your answer!">
</form>
