<h1>Login</h1>

<% if @error_true == true %>
<p style="color:red">You entered an incorrect password or email address. Please try logging in again.</p>
<% end %>
<% if @error_no_right_to_post = true %>
<p style="color:red">This is not your post and/or you have not logged in.  Before you may edit a post, you must login.</p><p>If you believe you reached this page in error, or want to go back, please click here<FORM><INPUT Type="button" VALUE="Go Back!" onClick="history.go(-1);return true;"></FORM></p>
<p>Otherwise, please login here:</p>
<% end %>


<form method="post" action="/users/login">
  <label for="user_email_input">
  <input name="email" type="text" placeholder="Email">
  <br>
  <label for="user_password_input">
  <input name="password" type="password" placeholder="Password">
  <br>
  <input type="submit" value="Login">
</form>
