<div class="walter_div">

  Hello Hello
  <%= @user.name %>

  <% @posts.each do |post| %>
     <%= post.title %>
     <% end %>

  <% @comments.each do |comment| %>
   <%=  comment.text %>
<% end %>



</div>
