<h1>Update your comment</h1>

<form method="post" action="/answers">
<input type="hidden" name="_method" value="put">
  <label for="comment_text_input">
  <input id="comment_text_input" name="comment[text]" type="text" placeholder="Comment">
  <br>
  <input type="submit" value="Update your comment!">
</form>
